@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    /* border: 2px solid red; */
    background-color: #201313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
}
.logo-text{
    color: #EAE6E4;
    /* border: 3px solid green; */
    display: inline-flex;
    align-items: center !important;
    justify-content: center !important;
}
.logo-text img{
    height: 5vh;
}
.logo-text span{
    font-style: normal;
    font-weight: 700;
    padding-top: .6rem;
    font-size: 1.5rem;
}
.secondary-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid yellow; */
    list-style-type: none;
    color: white;
    gap: 2rem;
    margin-top: .6rem;
}
.fa-solid{
    font-size: .7rem;
    margin-top: 4%;
    margin-left: 7%;
}
.secondary-nav ul li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "JetBrains Mono", monospace;
   
}
.button-section{
   /* border: 3px solid green; */
   font-family: "JetBrains Mono", monospace;
}
.button-section a{
    background-color: #E03131;
    text-decoration: none;
    border-radius: 2rem;
    color: #FFFFFF;
    padding: .7rem 1rem;
    border: none !important;
}
#special{
    color: #FFC722;
}
main{
    /* border: 3px solid black; */

}
footer{
    background-color: #201313;
    /* border: 2px solid green; */
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #EAE6E4;
    padding:3rem 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
footer.useful-links{
    border: 3px solid black;
}
footer.contact-info{
    /* border: 2px solid yellow; */
}
.logo-content {
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
    gap: 34rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    /* border: 2px solid black; */
    font-weight: 700;
    font-style: normal;
}
.logo span{
    padding-top: .6rem;
    
}
.logo img{
   height: 5vh;
}
.content .ul-container {
  display: flex;
  gap: 7.5rem;
  /* border: 3px solid yellow; */
}
.ul-container ul{
    list-style-type: none;
    /* border: 2px solid black; */
}
.ul-container ul li a {
    text-decoration: none;
    color: #EAE6E4;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    
}
.ul-container ul li{
    margin-bottom: .9rem;
}
.contact-info{
   /* border: 3px solid green; */
   display: flex;
   align-items: center;
   gap: 2rem;  
}
.div-1{
    width: 67%;
    /* border: 2px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
}
.div-2 ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    width: 75%;
}
.div-2 ul li a{
    text-decoration: none;
    color: #EAE6E4;
}


